.menu-player-progress-bar{
    height: 6px;
    border-radius:10px;
    opacity: 0.3;
    background-color: #D9D9D9;
}

.menu-player-progress-time{

    p {
        color: #C4C4CC;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        margin-top: 9px;
        margin-top: 0;

    }
}